:root {
  --primary: rgb(57, 235, 134);
  --secondary: rgb(55, 200, 245);
  --dark: #121212;
  --light: #dddddd;
}
html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--dark);
  color: var(--light);
}
body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  justify-content: center;
  align-items: center;
}
.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
}
.radio > input {
  display: inline-block;
}
hr {
  color: #2a2a2a;
  margin-top: 0.3em;
  margin-bottom: 1em;

  padding: 0;
}
.ai-bg-primary {
  background-color: var(--primary);
}
.ai-text-dark {
  color: #222;
}
.ai-text-light {
  color: #676767;
}
.ai-text-primary {
  color: var(--primary);
}
.ai-bg-secondary {
  background-color: var(--secondary);
}
.ai-text-secondary {
  color: var(--secondary);
}
.ai-btn {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 0.5em;
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--dark);
}
.ai-btn:hover {
  outline: 1px dashed var(--light);
}
.ai-btn:active {
  outline: 2px solid var(--light);
}

.ai-round {
  border-radius: 0.3em;
}
.ai-border {
  border: 1px #232323 solid;
}
.ai-card {
  display: block;
  padding: 1em;
  margin: 1em;
  background-color: #1a1a1a;
}
.ai-card:hover {
}
.ai-shadow {
  box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.15);
}
input[type="text"],
textarea {
  display: inline-block;
  background-color: #333;
  inset: unset;
  border: 0;
  padding: 0.5em;
  font-size: 0.9rem;
  color: #aaa;
  margin: 0.3em;
}
input[type="text"]:focus,
textarea:focus {
  outline: 1px solid var(--primary);
}
