/* DOCUMENT STYLES */

@import 'config.styl';
  
*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0

body
  line-height: base-line-height
  background: color-dark
  color: color-light
  font-size: typ-sz-base
  font-weight: base-font-weight
  font-family: font