/* BUTTON STYLES */

button, .button, [type=submit]
  user-select: none

  cursor: pointer

  display: inline-block

  height: 45px

  margin-bottom: base
  padding: 10px 30px

  outline: none
  text-decoration: none

  color: color-white
  font-size: typ-sz-base
  font-weight: 700
  line-height: normal
  font-family: font

  background: color-gray

  border-radius()
  border(transparent)

  transition: transition

  &:hover, &:focus
    opacity: .9

  &:active
    opacity: .7

  &[disabled]
    opacity: 0.8
    cursor: not-allowed

  &.outlined
    color: color-white
    background: none
    border(color-gray)
        
    &.primary
      border-round(color-primary)
      color: color-white
      background: none
        
    &.secondary
      border-round(color-secondary)
      color: color-white
      background: none

    &:hover, &:focus
      color: color-white
      background: color-black

  
  &.secondary
    background: color-secondary

  
  &.primary
    background: color-primary  
  
  &.info
    background: color-info
  
  &.accent
    background: color-accent
 