/* CARD STYLES */

.card
  display: flex
  flex-direction: column

  border-round(color-gray)
  margin: base


  .card-content
    margin: 0
    padding: base

  .card-image
    display: block
    height: auto
    width: 100%