/* COLOR STYLES */

.text-primary
  color: color-primary

.text-secondary
  color: color-secondary

.text-info
  color: color-info

.text-accent
  color: color-accent

.text-light
  color: color-light