/* INPUT STYLES */


input[type="text"],
textarea 
  display: inline-block
  background-color: color-dark-gray
  inset: unset
  border: 0
  padding: base
  font-size: typ-sz-base
  color: #aaa
  margin: base


input[type="text"]:focus,
textarea:focus {
  outline: 1px solid color-primary
}
