/* TYPOGRAPHY STYLES */

.title
  font-weight: 200

.subtitle
  font-weight: 700

.caps
  text-transform: uppercase

h1, h2, h3, h4, h5, h6, p
  margin-top: 0
  margin-bottom: base
  font-family: font

h1, h2, h3, h4, h5, h6
  font-weight: 500

h1
  font-size: typ-sz-1
  line-height: 1.3

h2
  font-size: typ-sz-2
  line-height: 1.35

h3
  font-size: typ-sz-3
  line-height: 1.4

h4
  font-size: typ-sz-4
  line-height: 1.45

h5
  font-size: typ-sz-5
  line-height: 1.5

h6
  font-size: typ-sz-6
  line-height: 1.55

p
  font-size: typ-sz-base

a
  font-size: typ-sz-base

  &.larger
    font-size: typ-sz-base-up

@media (max-width: 768px)
  h1
    font-size: typ-sz-sm-1

  h2
    font-size: typ-sz-sm-2

  h3
    font-size: typ-sz-sm-3

  h4
    font-size: typ-sz-sm-4

  h5
    font-size: typ-sz-sm-5

  h6
    font-size: typ-sz-sm-6

  a
    font-size: typ-sz-sm-up !important
