/* UTILITY STYLES */

.rounded
  border-radius()

.text-center
  text-align: center


.center
  display: flex;
  justify-content: center;
  align-items: center;

/* to be moved to spacing module */
.m-0
  margin: 0

.m-base
  margin: base

.mt-base
  margin-top: base 